<div class="container text-center mb-3">
    <div class="row">
        <div class="col">
            <!-- <button type="button" class="button secondary rounded-pill m-1 p-1">
                Toutes
            </button>
            <button type="button" class="button secondary rounded-pill m-1 p-1">
                Poste 1
            </button> -->
            <button type="button" class="button secondary rounded-pill m-1 p-1" data-bs-toggle="modal" data-bs-target="#createUser">
                + Add
            </button>
        </div>
    </div>
    <h5>Liste des users</h5>
    <div class="row text-start gap-1">
        @if (loadingPage) {loading...}@else {@if (allUser) {
        <div class="accordion" id="accordionUsers">
            @for (user of allUser; track $index) {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false" aria-controls="collapse">
                        {{$index + 1}}. {{user.first_name}} {{user.last_name}}({{user.username}})
                    </button>
                </h2>
                <div [attr.id]="'collapse' + $index" class="accordion-collapse collapse">
                    <p class="m-2">
                        Contact:
                        <span class="text-secondary">{{user.tel}}, {{user.email}}</span><br>
                        <!-- Role du user -->
                        <span>
                            Role: @if (user.is_agent_commercial) {
                                <span class="text-secondary">
                                    Agent commercial
                                </span> }@if (user.is_respo_pos) {
                        <span class="text-secondary">
                            Responsable d'un point de vente
                        </span> }@if (user.is_admin) {
                        <span class="text-secondary">Admin</span> }
                        </span> <br>
                        <!-- end role -->
                        <span>
                            Salaire :
                            <span class="text-secondary">
                                {{getSalarUser(user.id)}} BIF/mois ({{getPostUser(user.id)}})
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            }
        </div> }}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="ms-auto me-auto mb-2">
                        <label for="nameUser" class="visually-hidden">Name</label>
                        <input type="text" class="form-control" name="nameClient" id="nameUser" placeholder="name" required>
                    </div>
                    <div class="ms-auto me-auto mb-2 ">
                        <label for="firstUser" class="visually-hidden ">Prenom</label>
                        <input type="text" class="form-control" name="firstUser" id="firstUser" placeholder="Prenom" required>
                    </div>
                    <select class="form-select mb-2" aria-label="Default select example">
                        <option selected>Choose poste</option>
                        <option value="1 ">One</option>
                        <option value="2 ">Two</option>
                        <option value="3 ">Three</option>
                    </select>
                    <div class="ms-auto me-auto mb-2">
                        <label for="adress " class="visually-hidden ">Adress</label>
                        <input type="text " class="form-control " name="adress " id="adress " placeholder="Adress " required>
                    </div>
                    <div class="ms-auto me-auto mb-2 ">
                        <label for="tel " class="visually-hidden ">Tel</label>
                        <input type="number " class="form-control " name="tel " id="tel " placeholder="Tel " required>
                    </div>
                    <div class="ms-auto me-auto mb-2 ">
                        <label for="password " class="visually-hidden ">Password</label>
                        <input type="password " class="form-control " name="password " id="password " placeholder="password " required>
                    </div>
                    <div class="ms-auto me-auto mb-2 ">
                        <label for="confirmPassword " class="visually-hidden ">confirm Password</label>
                        <input type="password " class="form-control " name="confirmPassword " id="confirmPassword " placeholder="confirm Password " required>
                    </div>
                    <div class="form-check text-start ">
                        <input class="form-check-input " type="checkbox " value=" " id="checkChecked ">
                        <label class="form-check-label " for="checkChecked ">
                            is admin
                        </label>
                    </div>
                    <div class="ms-auto me-auto mb-2 mt-3 ">
                        <button type="submit " class="button principal p-1 m-1 ">
                            <span class="ms-5 me-5 ">Create</span>
                        </button>
                        <a class="button secondary p-1 m-1 ">
                            <span class="ms-5 me-5 ">Back</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>