<nav class="navbar fixed-top background principal" data-bs-theme="dark">
    <div class="container-fluid">
        <img class="me-3" [ngSrc]="logo" alt="logo" width="40" height="40">
        <h4>Application</h4>
        @if (isAuthenticate) {
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>}
        <div class="offcanvas offcanvas-end text-bg-dark background principal" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a routerLink="home" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Home
                        </a>
                    </li>
                    @if (userData && userData.is_admin) {
                    <li class="nav-item">
                        <a routerLink="listTypeEchange" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Type echange
                        </a>
                    </li>
                    } @if (userData && userData.is_respo_pos) {
                    <li class="nav-item">
                        <a routerLink="userList" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Agent commerciaux
                        </a>
                    </li>
                    }
                    <li class="nav-item">
                        <a routerLink="listPOS" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Paniers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="listPOS" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Point de vente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="client" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            Clients
                        </a>
                    </li>
                    <li class="nav-item border-top mt-4">
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Modal logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure? confirm your action
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="logout()">Yes</button>
            </div>
        </div>
    </div>
</div>